.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header{
  display: grid;
}

.Nav{
  grid-area: nav;
  display: flex;
  grid-template-columns: repeat(6, auto); 
  align-items: center;
  justify-items: center;
}

.Nav2{
  grid-area: nav;
  display: flex;
  grid-template-columns: repeat(2, auto); 
  align-items: center;
  justify-items: center;
}

.splitLeft {
  height: 85%;
  width: 60%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  margin-top:150px;
}
.splitRight {
  height: 85%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  margin-top:150px;
}

.projectTitle{
  font-weight: bold;
  font-size: 30px;
}

.githubButton{
  background-color: darksalmon;
  color: rgb(22, 10, 10);
  padding: 5px 15px;
  border-radius: 5px;
  outline: 0;
  text-transform: uppercase;
  margin: 10px 0px;
  cursor: pointer;
  box-shadow: 0px 2px 2px lightgray;
  transition: ease background-color 250ms;
}

.githubButton :hover{
  background-color: rgb(53, 27, 19);
}

.left {
  left: 0;
  background-color: rgb(207, 129, 129);
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered img {
  width: 450px;
  height:450px;
  /* border-radius: 50%; */
}

.NavButton{
  height: 40px;
  width: 40px;
  display: inline;
  margin-top: 10px;
  border-radius: 50%;
  border-color: #FFCCD5;
  border-style: solid;
  background-color: #FFCCD5;
}

/* Reset styles */
html,body, body * { 
  box-sizing: border-box; 
  font-family: 'Open Sans', sans-serif; 
  margin:0;
  padding:0;
  color:inherit;
  background-color:inherit;
  /* border:2px solid orange; */
}

body {
  /* background-image: url(pic.jpg); */
  background-size:  cover;
  background-position:center center;
  
}
.container {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 100px;
}


.login-register-wrapper {
    height: 560px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding:0 2em;
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
    overflow: hidden; 
    color:#ffffff;
    background: linear-gradient(180deg, rgba(234, 75, 157, 0.8) 0%, rgba(230, 164, 198, 0.8) 52%, rgba(255,255,255,0) 82%);
}

/* Nav buttons */
.nav-buttons {
  width: 100%;
  height: 100px;
  padding-top: 40px;
  opacity: 1;
  margin-bottom: 3em;
}
button {
    font-size: 1.5em;
    margin-right:1em;
    border:0px;
    cursor: pointer;
 
}
button:focus {
    outline: 0px;
}
button.active {
    padding-bottom: 10px;
    border-bottom: solid 2px #1059FF;
} 


  /* form styling */
  .form-group input {
      width: 100%;
      height: 35px;
      padding-left: 15px;
      border: none;
      border-radius: 5px;
      margin-bottom: 20px;
      background: rgba(255,255,255,.5);
  }
  .form-group label {
    text-transform: uppercase;
  }
  input.submit {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1em;
      text-align: center;
      color: rgba(255,255,255, 1);
      padding: 8px 0px;
      width: 100%;
      height: 35px;
      border: none;
      border-radius: 20px;
      margin-top: 23px;
      background-color: rgba(16,89,255, 1);
  
  }

  /*Form positioning and animation */

  form#registerform {
      left:500px;
      top:-230px;
      position:relative;
  }

  .forgot-panel {
      margin-top:-300px;
      color:gray;
  }

  form, .forgot-panel { 
      position: relative;
      transition: all .5s ease;
  }
  #loginBtn, #registerBtn {
      transition: all .5s ease;

  }

  