.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header{
  display: grid;
}

.Nav{
  grid-area: nav;
  display: flex;
  grid-template-columns: repeat(6, auto); 
  align-items: center;
  justify-items: center;
}

.Nav2{
  grid-area: nav;
  display: flex;
  grid-template-columns: repeat(2, auto); 
  align-items: center;
  justify-items: center;
}

.splitLeft {
  height: 85%;
  width: 60%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  margin-top:126px;
}
.splitRight {
  height: 85%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  margin-top:126px;
  background-color: #FDF6F0;
}

.projectTitle{
  font-weight: bold;
  font-size: 30px;
  font-family: Poppins-Regular;
}

.githubButton{
  background-color: #F5C6AA;
  color: rgb(22, 10, 10);
  padding: 5px 15px;
  border-radius: 5px;
  outline: 0;
  text-transform: uppercase;
  margin: 10px 0px;
  cursor: pointer;
  box-shadow: 0px 2px 2px lightgray;
  transition: ease background-color 250ms;
  font-family: Poppins-Regular;
}

.homeContainer{
  background-color: #FDF6F0;
}

.evaluateDiv{
  background-color: #FDF6F0;
  margin-bottom: 0px;
  height: 900px;
}

.githubButton :hover{
  background-color: rgb(53, 27, 19);
}

.left {
  left: 0;
  background-color: #FDF6F0;
}

.right {
  right: 0;
  background-color: #FDF6F0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FDF6F0;
  text-align: center;
}

.centered img {
  width: 450px;
  height:450px;
  background-color: #FDF6F0;
  /* border-radius: 50%; */
}

.NavButton{
  height: 40px;
  width: 40px;
  display: inline;
  margin-top: 10px;
  border-radius: 50%;
  border-color: #FCD8D4;
  border-style: solid;
  background-color: #FCD8D4
}

/* Reset styles */
html,body, body * { 
  box-sizing: border-box; 
  font-family: 'Open Sans', sans-serif; 
  margin:0;
  padding:0;
  color:inherit;
  background-color:inherit;
  /* border:2px solid orange; */
}

body {
  /* background-image: url(pic.jpg); */
  background-size:  cover;
  background-position:center center;
  
}
.container {
    width: 100%;
    padding-top: 60px;
    /* padding-bottom: 100px; */
}

.divLogin{
  background-color: #FDF6F0;
  height: 100%;
  border-bottom: 100px;
  border-color: #FDF6F0;
}


.login-register-wrapper {
    height: 875px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding:0 2em;
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
    overflow: hidden; 
    color:#FDF6F0;
    border-bottom: 100px;
    border-color: #FDF6F0;
    background: linear-gradient(180deg, rgba(230, 81, 158, 0.247) 0%, rgba(230, 164, 198, 0.8) 52%, rgba(255,255,255,0) 82%);
}

/* Nav buttons */
.nav-buttons {
  width: 100%;
  height: 100px;
  padding-top: 40px;
  opacity: 1;
  margin-bottom: 3em;
}
button {
    font-size: 1.5em;
    margin-right:1em;
    border:0px;
    cursor: pointer;
 
}
button:focus {
    outline: 0px;
}
button.active {
    padding-bottom: 10px;
    border-bottom: solid 2px #c90a8f;
} 


  /* form styling */
  .form-group input {
      width: 100%;
      height: 35px;
      padding-left: 15px;
      border: none;
      border-radius: 5px;
      /* margin-bottom: 20px; */
      background: rgba(255,255,255,.5);
  }
  .form-group label {
    text-transform: uppercase;
  }
  input.submit {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1em;
      text-align: center;
      color: rgba(255,255,255, 1);
      padding: 8px 0px;
      width: 100%;
      height: 35px;
      border: none;
      border-radius: 20px;
      margin-top: 23px;
      background-color: rgb(207, 107, 146);
  
  }

  /*Form positioning and animation */

  form#registerform {
      left:500px;
      top:-230px;
      position:relative;
  }

  .forgot-panel {
      margin-top:-300px;
      color:gray;
  }

  form, .forgot-panel { 
      position: relative;
      transition: all .5s ease;
  }
  #loginBtn, #registerBtn {
      transition: all .5s ease;

  }


.container-table100 {
  width: 100%;
  background: #FDF6F0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 790px;
  /* border-radius: 20px; */
  overflow: hidden;
}

.wrap-table2 {
  width: 600px;
  overflow: hidden;
}

.table {
  width: 100%;
}


.row {
  /* display: table-row; */
  background: #F8E2CF;
  margin-left: 0px;
}

.row.header {
  color: #ffffff;
  background: #F5C6AA;
}

.cell {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .cell {
    display: block;
  }
}

.row .cell {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.row.header .cell {
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;
  padding-top: 19px;
  padding-bottom: 19px;
}

.row .cell:nth-child(1) {
  width: 200px;
  padding-left: 40px;
}

.row .cell:nth-child(2) {
  width: 200px;
}

.row .cell:nth-child(3) {
  width: 350px;
}

.table, .row {
  width: 100% !important;
}

.row:hover {
  background-color: #F5C6AA;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .cell2 {
    display: block;
  }
}

.row2 .cell2 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
}

.row2.header2 .cell2 {
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;
  padding-top: 19px;
  padding-bottom: 19px;
}

.row2 .cell2:nth-child(1) {
  width: 200px;
  padding-left: 40px;
}

.row2 .cell2:nth-child(2) {
  width: 400px;
}


.row2:hover {
  background-color: #F8E2CF;
  cursor: pointer;
}

.row2.header2 {
  color: #ffffff;
  background: #F5C6AA;
}

.row2 {
  /* display: table-row; */
  background: #F8E2CF;
  margin-left: 0px;
}

.cell2 {
  display: table-cell;
}

.row2:hover {
  background-color: #F5C6AA;
  cursor: pointer;
}